[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
custom-collections = {editable = true, path = "."}

[dev-packages]
pylint = "*"
black = "*"
mypy = "*"
ipython = "*"
rope = "*"
pytest = "*"
pytest-xdist = "*"


[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
